<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="7"
    android:versionName="1.1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:logo="@drawable/ab_logo"
        android:theme="@style/EverMemo_LightMode"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher">

        <!--<provider
            android:name="com.zhan_dui.data.MemoProvider"
            android:authorities="com.zhan_dui.data.MemoContentProvider"
            android:exported="false"
            android:multiprocess="false"/>-->

        <activity
            android:name="com.zhan_dui.evermemo.StartActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhan_dui.evermemo.MemoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity android:name="com.zhan_dui.evermemo.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" />
        <!--<activity android:name="com.zhan_dui.evermemo.FeedbackActivity"/>-->
    </application>

</manifest>